

:root{


    --primaryColor:purple;
    --black:black;
    --white:white;
    
}





.page {
    padding: 15px;
}


.banner-section{
    width:90%;
    margin:0 auto;
    height:40vh;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.587)), url("../Images/banner.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:15px;
    -webkit-border-radius:15;
    -moz-border-radius:15;
    -ms-border-radius:15;
    -o-border-radius:15;
}
.banner-section h2{
    height:100%;
    font-size:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    color: white;
}










/* navigation bar styles */
.navbar-area{
    background-color: black;
    color:white;
}


/* offer sold list table */
.recenter-offer-selling-list{
    padding: 75px 0;
    box-shadow: 0px 0px 3px rgba(0,0,0, .3);
    margin: 50px 0;
    overflow-x:auto;
}
.selling-table{
    width:90%;
    margin:15px auto;
}
.selling-table h3{
    background-color:var(--black);
    padding: 25px 0;
    color:white;
    font-size:32px;
    text-align:center;
    font-weight:70px;
}



/* data table */
table {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}
table tr{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}

thead tr th{
    text-align: left;
    padding: 10px 15px;
    background-color: var(--primaryColor);
    color:white; 
    font-size: 16px;
    font-weight:900;
    
}

table tr {
  height:80px;
}

table tr td {
    justify-content: center;
    gap:5px;
    padding: 5px 14px;
    margin: 10px 0 !important;
    font-weight: 600;
}
table tr td:first-child{
    width:35%;
    padding-right:25px;
}
table tr td svg{
    color:purple;
}

table tr td a{
    width:100%;
    padding:10px 25px;
    background-color:var(--primaryColor);
    color:white;
    border-radius:10px;
}

table tr td a button{
    font-weight:600;
   text-transform:uppercase;
}


/* table tabs */
.react-tabs__tab-list {
    text-align:center;
}

.package-table .react-tabs{
    padding:25px 0;
}
.react-tabs__tab{
    font-size:22px;
}
.package-table .react-tabs__tab-list {
    text-align:left;
    font-size:20px;
    color:var(--PrimaryColor);
}
.react-tabs__tab--selected {
    background-color:purple !important;
    color:white !important;
}


/* offer list section */
.offer-section{    
    padding: 75px 0;
    box-shadow: 0px 0px 3px rgba(0,0,0, .3);
    margin: 50px 0;
}
.offer-list-section{
    width:92%;
    margin:0 auto;
    overflow-x: auto;
}
.offer-list-section h2{
    background-color:black;
    color:white;
    text-align:center;
    font-size:32px;
    padding:25px 0;
    margin:35px 0;
}




/* signup page */
.login-area {
   width:100%;
}
.login-area h3{
    font-size:32px;
    font-weight: 700;
}
.login-area .login-content-box{
     width:40%;
    height: 100%;
    margin: 50px auto;
    padding: 50px;
   box-shadow: 0px 0px 10px rgba(0, 128, 0, 0.711);
}
form {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.login-area form input {
    width: 100%;
    border: .5px solid #010101;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
}

input[type="submit"]{
    background-color:var(--primaryColor);
    color:white;
    cursor:pointer;
    font-weight:600;
    font-size:20px;
}






footer{
    background-color:black;
    color:white;
    padding:50px;
}